
<section class="support">
    <div class="container">
        <div class="row">
            <div class="col-md-6 on-left">
                <h1 class="animate__animated animate__fadeInLeft">Award-Winning Customer Support for Your Business
                </h1>
                <p class="animate__animated animate__fadeInUp">At Proffcus, we pride ourselves on providing
                    exceptional customer support. Our team has earned
                    numerous prestigious awards for consistently delivering satisfaction and support excellence.
                    Whether
                    you need help with setup or ongoing assistance, we're here to ensure your success every step of
                    the
                    way.</p>
                <!-- <a class="req_btn btn mb-5" href="">Start Your Free Trial Today</a> -->
            </div>
            <div class="col-md-6 on-right mt-5">
                <img src="assets/img/board1.png" alt="Customer Support"
                    class="img-fluid animate__animated  animate__fadeInTopRight">
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container support1 reveal ">
        <div class="col-12 col-md-12">
            <p>Proffcus offers 24/7 support to help you optimize your digital experience. Our team is available
                globally
                to assist with any questions or challenges you may face. Enjoy personalized assistance, tailored to
                your
                specific needs, so you can get the most out of our platform and grow your business with confidence.
            </p>
        </div>
    </div>
</section>
<!-- Card  -->
<section class="training-sec">
    <div class="container">
        <!-- 1 -->
        <div class="row align-items-center reveal">
            <div class="col-md-6 about-img order-1 order-md-2 mt-3">
                <img src="assets/img/partner-migration.png" alt="Training Support" class="img-fluid">
            </div>
            <div class="col-md-6 training-left order-2 order-md-1">
                <div class="training-title">
                    <img src="assets/img/training.gif" alt="Interactive Training Sessions">
                    <h2>Explore our Knowledge Base</h2>
                </div>
                <p>Become knowledgeable about the features of our platform by using our extensive knowledge source.
                    Get access to a categorized resource library that makes it easy to locate the answers to your
                    questions. Our comprehensive knowledge library, which covers both the essential subjects and the
                    more complex subtleties, guarantees that you have the resources necessary to easily use our
                    platform. Improve your comprehension and utilize our features to the fullest at your own speed
                    with tools created to help you along the way.

                </p>
            </div>
        </div>
        <!-- 2 -->
        <div class="row align-items-center reveal">
            <div class="col-md-6 about-img order-1 order-md-1 ">
                <img src="assets/img/campaign-migration.png" alt="Comprehensive Video Tutorials" class="img-fluid">
            </div>
            <div class="col-md-6  training-left  order-2 order-md-2">
                <div class="training-title">
                    <img src="assets/img/video-t.gif" alt="Video Tutorials">
                    <h2>Support for Multiple Channels</h2>
                </div>
                <p>We provide our support services through a variety of channels since we recognize how important
                    convenience is. We can help you on the medium that works best for you, whether it's social
                    media, live chat, email, or the phone. Get the most out of our services and easily access help
                    that is catered to your needs. Savor the freedom to ask for help whenever and however it is most
                    convenient for you, guaranteeing a hassle-free experience each and every time.
                </p>
            </div>
        </div>
        <!-- 3 -->

        <div class="row align-items-center reveal">
            <div class="col-md-6 about-img order-1 order-md-2 mb-3">
                <img src="assets/img/migration-support.png" alt="Integration Support" class="img-fluid">
            </div>
            <div class="col-md-6  training-left  order-2 order-md-1">
                <div class="training-title">
                    <img src="assets/img/integration-help.gif" alt="Integration Assistance">
                    <h2>Videos that are easily accessible</h2>
                </div>
                <p>Our platform provides an array of readily available video tutorials online in simple,
                    understandable English. Our video lessons walk you through every stage of the process and cover
                    a wide range of topics, regardless of your level of experience. These lessons, which are
                    available whenever you're ready, offer priceless advice and support, enabling you to fully
                    utilize the capabilities of our platform. Improve your knowledge and skills with our extensive
                    video library, which is made to efficiently assist your learning process.
                </p>
            </div>
        </div>
        <!-- 4 -->
        <div class="row align-items-center reveal">
            <div class="col-md-6 about-img order-1 order-md-1 ">
                <img src="assets/img/support-1.png" alt="Comprehensive Video Tutorials" class="img-fluid">
            </div>
            <div class="col-md-6  training-left  order-2 order-md-2">
                <div class="training-title">
                    <img src="assets/img/video-t.gif" alt="Video Tutorials">
                    <h2>Round-the-Clock Support</h2>
                </div>
                <p>Our technical support team is available 24x7 to assist you with any queries or issues. Whether
                    it’s
                    analytics or integration, Proffcus ensures you're never alone in your journey.</p>
            </div>
        </div>
    </div>
</section>
<!-- card -->

