<!-- <section class="support">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 on-left">
                <h1>Award Winning Customer Support</h1>
                <p>Our customer support services have earned numerous prestigious awards from esteemed organisations, a
                    testament to the satisfaction of our users.</p>
                <a class="btn mb-5"> Start Free Trial</a>
                

            </div>
            <div class="col-md-6 on-right mt-5 ">
                <img src="img/board1.png" alt="board" class="img-fluid">
            </div>

        </div>
    </div>
</section>

<section>
   
    <div class="container support1">
        <div class="col-12 col-md-12">
            <p>Offer18 is committed to excellence, as our dedicated team goes above and beyond to make sure that
                your needs are met promptly and efficiently. Whether you have questions, need assistance, or require
                guidance, our award-winning support team is here to provide you with the exceptional service you
                deserve. Experience unparalleled support that sets us apart and joins the ranks of satisfied users
                who trust us to deliver excellence every time.</p>
        </div>
    </div>
</section>
<section class="traing-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-5 training-left">
                <h2>Training Session</h2>
                <p>Demonstration sessions are not limited to one or two, users can schedule as many as they want as per
                    their convenient time. No matter from which geo what time zone it is, our on-boarding team remains
                    available 24X7.</p>
            </div>
            <div class="col-md-6 ">
                <img src="img/training.png" alt="Training" class="img-fluid">
            </div>
        </div>

    </div>

</section>
<section class="traing-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ">
                <img src="img/video.png" alt="Training" class="img-fluid">
            </div>
            <div class="col-md-6 mt-5 training-left">
                <h2>Video Tutorials</h2>
                <p>Video tutorials are easily available on the internet with easy to understand language.</p>
            </div>

        </div>

    </div>

</section>
<section class="traing-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-5 training-left">
                <h2>Integration Help</h2>
                <p>New users don’t need to wait to understand the functionality of the dashboard to launch their first
                    campaigns, the team helps them to on-board and integrate their advertisers, affiliates and campaigns
                    on their system without caring about privacy.</p>
            </div>
            <div class="col-md-6 ">
                <img src="img/intigration.png" alt="Training" class="img-fluid">
            </div>
        </div>

    </div>
</section>



<section class="test mt-5">
    <div class="container">
        <div class="row">
            <div class="text-center mt-5">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt <br>
                    laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eu!
                </p>

            </div>
            <div class=" col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="img/man.jpg">
                        </div>
                        <div class="testimonial-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eu!
                            </p>
                        </div>
                        <h3 class="testimonial-title">
                            <a href="#">Kelli</a>
                            <small>- Web Developer</small>
                        </h3>
                    </div>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="img/man.jpg">
                        </div>
                        <div class="testimonial-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eu!
                            </p>
                        </div>
                        <h3 class="testimonial-title">
                            <a href="#">Kelli</a>
                            <small>- Web Developer</small>
                        </h3>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="img/man.jpg">
                        </div>
                        <div class="testimonial-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eu
                            </p>
                        </div>
                        <h3 class="testimonial-title">
                            <a href="#">Peter</a>
                            <small>- Web Developer</small>
                        </h3>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="img/man.jpg">
                        </div>
                        <div class="testimonial-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eum
                                odit repellendus!
                            </p>
                        </div>
                        <h3 class="testimonial-title">
                            <a href="#">Sally</a>
                            <small>- Web Developer</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="support">
    <div class="container">
        <div class="row">
            <div class="col-md-6 on-left">
                <h1>Award-Winning Customer Support for Your Business</h1>
                <p>At Proffcus, we pride ourselves on providing exceptional customer support. Our team has earned
                    numerous prestigious awards for consistently delivering satisfaction and support excellence. Whether
                    you need help with setup or ongoing assistance, we're here to ensure your success every step of the
                    way.</p>
                <a class="btn mb-5" href="/free-trial">Start Your Free Trial Today</a>
            </div>
            <div class="col-md-6 on-right mt-5">
                <img src="img/board1.png" alt="Customer Support" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container support1">
        <div class="col-12 col-md-12">
            <p>Proffcus offers 24/7 support to help you optimize your digital experience. Our team is available globally
                to assist with any questions or challenges you may face. Enjoy personalized assistance, tailored to your
                specific needs, so you can get the most out of our platform and grow your business with confidence.</p>
        </div>
    </div>
</section>
<section class="training-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-5 training-left">
                <h2>Comprehensive Training Sessions</h2>
                <p>Proffcus ensures that you are fully onboarded with the tools you need to succeed. Schedule
                    personalized training sessions at your convenience, regardless of your time zone. Our dedicated team
                    is available 24/7 to help you get the most out of your experience.</p>
            </div>
            <div class="col-md-6">
                <img src="img/training.png" alt="Training Sessions" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="training-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="img/video.png" alt="Video Tutorials" class="img-fluid">
            </div>
            <div class="col-md-6 mt-5 training-left">
                <h2>Watch Our Easy-to-Follow Video Tutorials</h2>
                <p>Explore our comprehensive library of video tutorials, designed to help you master our platform
                    quickly. Learn at your own pace with clear and simple explanations, perfect for beginners and
                    advanced users alike.</p>
            </div>
        </div>
    </div>
</section>
<section class="training-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-5 training-left">
                <h2>Seamless Integration Assistance</h2>
                <p>Proffcus provides hassle-free integration assistance. Whether you're connecting affiliates,
                    advertisers, or campaigns, our team is dedicated to ensuring smooth setup without compromising on
                    privacy or security.</p>
            </div>
            <div class="col-md-6">
                <img src="img/integration-help.gif" alt="Integration Help" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<app-testimonial></app-testimonial>