<section>
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="./">
                <img src="assets/img/logo.png" alt="Logo" class="img-fluid">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="services" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Solutions
                        </a>
                        <ul class="sub-menu dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="on-boarding"><i
                                        class="bi bi-person-plus"></i>On-Boarding</a></li>
                            <li><a class="dropdown-item" href="migration"><i
                                        class="bi bi-arrow-repeat"></i>Migration</a></li>
                            <li><a class="dropdown-item" href="advertisers"><i
                                        class="bi bi-megaphone"></i>Advertisers</a>
                            </li>
                            <li><a class="dropdown-item" href="api-integration"><i class="bi bi-terminal"></i>API</a>
                            </li>
                            <li><a class="dropdown-item" href="affiliate-network"><i
                                        class="bi bi-link-45deg"></i>Affiliate Network</a></li>
                            <li><a class="dropdown-item" href="customer-support"><i class="bi bi-headset"></i>Customer
                                    Support</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/price">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="btn nav-link req" href="contact">Request Demo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>