<footer class="footer ">
  <div class="container">
    <div class="row mb-3" style="border-bottom: 1px solid white;">
      <div class="col-md-3 my-3">
        <h5>Contact Us</h5>
        <p>
          Email: <a href="mailto:info@example.com">{{ "info@example.com" }}</a>
        </p>
        <p>Phone: <a href="tel:+1234567890">+123 456 7890</a></p>
        <p>Address: Noida, Uttar Pradesh, 201301</p>
      </div>
      <div class="col-md-3 my-3">
        <!-- <h5>Services</h5> -->
        <ul>
          <h5 class="mt-2 mb-2">Services</h5>
          <li><a routerLink="on-boarding">On-Boarding</a></li>
          <li><a routerLink="customer-support">Customer Support</a></li>
          <li><a routerLink="migration">Migration</a></li>
          <!-- <li><a routerLink="">API</a></li>
          <li><a routerLink="">Customization</a></li> -->
          <li><a routerLink="integration">Integration</a></li>
        </ul>

      </div>
      <div class="col-md-3 my-3">
        <!-- <h5>Company</h5> -->
        <ul>
          <h5 class="mt-2 mb-2">Company</h5>
          <li><a routerLink="about">About </a></li>
          <li><a routerLink="services">Services</a></li>
          <li><a routerLink="pricing">Pricing</a></li>
          <li><a routerLink="contact">Contact</a></li>
          <!-- <li><a routerLink="">Policy </a></li> -->
        </ul>
      </div>
      <div class="col-md-3 my-3">
        <!-- <h5>Solutions</h5> -->
        <ul>
          <h5 class="mt-2 mb-2">Solutions</h5>
          <li><a routerLink="api-integration">API Integration</a></li>
          <li><a routerLink="affiliate-network">Affiliate Network</a></li>
          <li><a routerLink="">Advertisers</a></li>
          <li><a routerLink="">Fraud Detection Software</a></li>
          <li><a routerLink="">Mobile Attribution Platform</a></li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>&copy; 2024 <a routerLink="">proffcus.com</a> All Rights Reserved.</p>
      </div>
      <div class="col-md-4">
        <div class="social-icons">
          <a class="bi bi-facebook ms-2 me-2"></a>
          <a class="bi bi-twitter ms-2 me-2"></a>
          <a class="bi bi-instagram ms-2 me-2"></a>
          <a class="bi bi-linkedin ms-2 me-2"></a>
          <a class="bi bi-skype ms-2 me-2"></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social-icons">
          <a class="ms-2 me-2 " style="font-size: 14px;">Privacy & Policy</a>
          <a class="ms-2 me-2" style="font-size: 14px;">Terms & Condition</a>
          <!-- <a class="bi bi-linkedin ms-2 me-2"></a>
          <a class="bi bi-skype ms-2 me-2"></a> -->
        </div>
      </div>
    </div>
  </div>
</footer>