.footer {
    background-color: #000000;
    color: #acaaaa;
    padding: 4vh 0;
    text-align: left;
   
    a {
      color: #acaaaa;
      text-decoration: none;
      
      
    }
    a:hover {
      color: #920202;
    }
    h5 {
      margin-bottom: 2vh;
      font-weight: bold;
      text-align: left;
    }
    .social-icons {
      a {
        color: #acaaaa;
        font-size: 1.4rem;
      }
      a:hover {
        color: #3b62a0 !important;
      }
    }
  }
  
li{
  list-style: none;
  text-align: left;
  line-height: 45px;
}