<section class="integration">
    <div class="container">
        <div class="row">
            <div class="col-md-6 on-left ">
                <h1>Integrations</h1>
                <p>Developing integrations continuously is something Offer18 believes in. Collaboration and support for mutual clients result in a win-win situation.</p>
                <a class="btn mb-5"> Start Free Trial</a>
                <!-- <a class="btn"> Start Free Trial</a> -->

            </div>
            <div class="col-md-6 on-right mt-5 ">
                <img src="img/board1.png" alt="board" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="traing-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-5 training-left">
                <h2>Affiliate & Advertiser Migration</h2>
                <p>You don't need to manually create partners if you are migrating from another platform. Use the import
                    feature to upload a large list in just a few clicks.</p>
            </div>
            <div class="col-md-6 ">
                <img src="img/training.png" alt="Training" class="img-fluid">
            </div>
        </div>

    </div>

</section>
<section class="traing-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ">
                <img src="img/video.png" alt="Training" class="img-fluid">
            </div>
            <div class="col-md-6 mt-5 training-left">
                <h2>Campaign Migration</h2>
                <p>The fundamental issue is offer migration, which serves as an excuse to put platform migration on
                    hold. Fortunately, we provide an easy way to migrate campaigns directly from your existing platform.
                </p>
            </div>

        </div>

    </div>

</section>
<section class="traing-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-5 training-left">
                <h2>Migration Assistance</h2>
                <p>A well documented migration guide book and personal migration assistance is also available to make
                    the migration process smooth and hectic free.</p>
            </div>
            <div class="col-md-6 ">
                <img src="img/intigration.png" alt="Training" class="img-fluid">
            </div>
        </div>

    </div>
</section>

<section class="traing-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ">
                <img src="img/intigration.png" alt="Training" class="img-fluid">
            </div>
            <div class="col-md-6 mt-5 training-left">
                <h2>24x7 Customer Support</h2>
                <p>Technical support team is always available to help you. Using a comprehensive analytics solution with
                    all the appropriate data slices can help organizations expand.</p>
            </div>

        </div>

    </div>
</section>

<!-- Testimonial -->
<section class="test mt-5">
    <div class="container">
        <div class="row">
            <div class="text-center mt-5">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt <br>
                    laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eu!
                </p>

            </div>
            <div class=" col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="img/man.jpg">
                        </div>
                        <div class="testimonial-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eu!
                            </p>
                        </div>
                        <h3 class="testimonial-title">
                            <a href="#">Kelli</a>
                            <small>- Web Developer </small>
                            <a href="" class="text-info"><i class="bi bi-linkedin"></i></a>
                        </h3>
                    </div>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="img/man.jpg">
                        </div>
                        <div class="testimonial-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eu!
                            </p>
                        </div>
                        <h3 class="testimonial-title">
                            <a href="#">Kelli</a>
                            <small>- Web Developer </small>
                            <a href="" class="text-info"><i class="bi bi-linkedin"></i></a>
                        </h3>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="img/man.jpg">
                        </div>
                        <div class="testimonial-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eu
                            </p>
                        </div>
                        <h3 class="testimonial-title">
                            <a href="#">Peter</a>
                            <small>- Web Developer </small>
                            <a href="" class="text-info"><i class="bi bi-linkedin"></i></a>
                        </h3>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="img/man.jpg">
                        </div>
                        <div class="testimonial-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eum
                                odit repellendus!
                            </p>
                        </div>
                        <h3 class="testimonial-title">
                            <a >Sally</a>
                            <small>- Web Developer </small>
                            <a href="" class="text-info "><i class="bi bi-linkedin"></i></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>