<section class="about1">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 about-img">
                <img src="img/intigration.png" alt="about">
            </div>
            <div class="col-md-6 about-con">
                <h3>Introduction </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ea autem magnam doloremque
                    cumque animi dolore eveniet consectetur vero, fugiat sed odio. Cumque soluta aut enim,
                    voluptatibus dolor eligendi sint.</p>
            </div>
        </div>
    </div>
</section>

<section class="about mb-5">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 about-con">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ea autem magnam doloremque
                    cumque animi dolore eveniet consectetur vero, fugiat sed odio. Cumque soluta aut enim,
                    voluptatibus dolor eligendi sint.</p>
            </div>
            <div class="col-md-6 about-img">
                <img src="img/video.png" alt="about">
            </div>
        </div>
    </div>
</section>
<section class="award p-3">
    <div class="counter-text mt-3">
        <h1>Award-winning tool trusted by <br> leaders in affiliate marketing</h1>
    </div>
    <div class="counter-section row mt-5 justify-content-center">
        <div class="card col-md-3 col-sm-6 col-12 mb-4">
            <div class="counter" data-target="1500">0</div>
            <h3>Projects Completed</h3>
            <p>Successfully delivered projects with quality assurance.</p>
        </div>
        <div class="card col-md-3 col-sm-6 col-12 mb-4">
            <div class="counter" data-target="500">0</div>
            <h3>Happy Clients</h3>
            <p>Building trust and delivering satisfaction globally.</p>
        </div>
        <div class="card col-md-3 col-sm-6 col-12 mb-4">
            <div class="counter" data-target="120">0</div>
            <h3>Awards Won</h3>
            <p>Recognized for excellence in the industry.</p>
        </div>
        <div class="card col-md-3 col-sm-6 col-12 mb-4">
            <div class="counter" data-target="120">0</div>
            <h3>Awards Won</h3>
            <p>Recognized for excellence in the industry.</p>
        </div>
        <div class="card col-md-3 col-sm-6 col-12 mb-4">
            <div class="counter" data-target="120">0</div>
            <h3>Awards Won</h3>
            <p>Recognized for excellence in the industry.</p>
        </div>
    </div>
    <a href="/contact" class="btn btn-primary d-block mx-auto text-center mb-4">Book Demo</a>
</section>