.service-main{
    padding-top: 100px;
}
.card {
    background: #faf8f8;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.808);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    // background: rgb(131,58,180);
    // background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.card-image img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-bottom: 2px solid #fff;
}


.card-content {
    padding: 20px;
    color: rgb(0, 0, 0);
}

.card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card-content p {
    font-size: 1rem;
    margin-bottom: 0;
}


@media (max-width: 768px) {
    .card-container {
        margin-bottom: 20px;
    }

    .card-content h3 {
        font-size: 1.2rem;
    }

    .card-content p {
        font-size: 0.9rem;
    }
}
.service {
    // margin-top: 10px;
    padding: 40px 10px;
    background-color: #d6d3d3;
    border-radius: 20px;
    margin-bottom: 20px;
}

.service-con {
    // margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;           
    text-align: center;
}

.service-con p{
    padding: 40px 10px;
    text-align: justify;
}



.service-con img {
    max-width: 100%;
    height: auto;
    padding: 50px 0px;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }

  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }

 