<section class="service-main">

</section>
<section class="service">
    <div class="container ">
        <div class="text-center">
            <h1>Our Service </h1>
            <p>Revolutionize Your Online Ad Campaigns With Ultimate Solution for Affiliate Networks, Advertisers,
                Agencies, E-commerce, and Media Buyers</p>
        </div>
    </div>
    <!-- </section>
<section class="service animate__backInDown animate__animated animate__slow"> -->
    <div class="container service ">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 card-container">
                <div class="card">
                    <div class="card-image">
                        <img src="img/pmi_2.gif" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h3>Card 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec erat nec erat pretium
                            tincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 card-container">
                <div class="card">
                    <div class="card-image">
                        <img src="img/pmi_2.gif" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h3>Card 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec erat nec erat pretium
                            tincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 card-container">
                <div class="card">
                    <div class="card-image">
                        <img src="img/pmi_2.gif" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h3>Card 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec erat nec erat pretium
                            tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-con mt-3 ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 service">
                <h3>Card 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam delectus minima porro repellat, quisquam
                    nihil quibusdam eius assumenda molestiae deserunt ducimus recusandae beatae dolorum fugit ipsa ea
                    quam. Fuga, molestias!</p>

            </div>
            <div class="col-md-6">
                <img src="img/home.png" alt="">
            </div>
        </div>

    </div>
</section>

<section class="service-con">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="img/home.png" alt="">
            </div>
            <div class="col-md-6 service">
                <h3>Card 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam delectus minima porro repellat, quisquam
                    nihil quibusdam eius assumenda molestiae deserunt ducimus recusandae beatae dolorum fugit ipsa ea
                    quam. Fuga, molestias!</p>
            </div>
        </div>

    </div>
</section>
<section class="service-con">
    <div class="container">
        <div class="row">
            <div class="col-md-6 service">
                <h3>Card 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam delectus minima porro repellat, quisquam
                    nihil quibusdam eius assumenda molestiae deserunt ducimus recusandae beatae dolorum fugit ipsa ea
                    quam. Fuga, molestias!</p>

            </div>
            <div class="col-md-6">
                <img src="img/home.png" alt="">
            </div>
        </div>

    </div>
</section>