
    <!-- <section class="service-main">

    </section> -->
    <section class="service ser-back" id="service" style="background-image: url('img/service.jpg'); ">
        <div class="container reveal">
            <div class="text-center">
                <h1 class="text-white">Our Services</h1>
                <p class="text-white">Unlock the Potential of Your Online Campaigns with Proffcus' Smart Solutions for
                    Affiliate Networks,
                    Advertisers, Agencies, E-commerce, and Media Buyers.</p>
            </div>
        </div>
        <div class="container service reveal">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 card-container">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/img/analytics.gif" alt="Advanced Analytics Solutions for Marketers">
                        </div>
                        <div class="card-content">
                            <h3>Analytics Solutions</h3>
                            <p>Get actionable insights with Proffcus' advanced analytics tools designed to optimize
                                performance and boost ROI for your campaigns.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 card-container ">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/img/advertiser.gif" alt="Advertiser Tools to Scale Your Campaigns">
                        </div>
                        <div class="card-content">
                            <h3>Advertiser Tools</h3>
                            <p>Leverage state-of-the-art tools for advertisers to streamline workflows, target the right
                                audience, and increase engagement.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 card-container ">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/img/e-commerce.gif" alt="E-commerce Campaign Management Support">
                        </div>
                        <div class="card-content">
                            <h3>E-commerce Solutions</h3>
                            <p>Enhance your e-commerce strategy with tailored solutions that simplify campaign
                                management and maximize conversions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-con">
        <div class="container">
            <div class="row align-items-center reveal">
                <div class="col-md-6 order-md-2 p-md-3 ">
                    <img src="assets/img/report.png" alt="Advanced Reporting Tools for Campaign Insights"
                        class="img-fluid rounded-3">
                </div>
                <div class="col-md-6 service">
                    <h3>Comprehensive Reporting</h3>
                    <p>Leverage Proffcus' advanced reporting tools to monitor, analyze, and optimize your marketing
                        campaigns. Gain deep insights into performance metrics to make informed decisions that maximize
                        ROI.</p>
                </div>
            </div>
        
            <div class="row align-items-center reveal">
                <div class="col-md-6 p-md-3">
                    <img src="assets/img/log.png" alt="Proffcus Log Tracking and Real-Time Monitoring" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Real-Time Tracking</h3>
                    <p>Track your campaigns in real-time with Proffcus' robust log management system. Stay ahead with
                        instant updates, track user activities, and ensure campaign transparency for all stakeholders.
                    </p>
                </div>
            </div>
  
            <div class="row align-items-center reveal">
                <div class="col-md-6 order-md-2 p-md-3">
                    <img src="assets/img/offer.png" alt="Exclusive Offers for Advertisers and Affiliates" class="img-fluid">
                </div>
                <div class="col-md-6 service">
                    <h3>Exclusive Offers</h3>
                    <p>Unlock tailored offers designed for advertisers, affiliates, and agencies. Proffcus provides
                        dynamic solutions to meet your unique business needs, helping you scale faster and smarter.</p>
                </div>
            </div>
        </div>
    </section>