<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mt-3 home-left">
                    <h3 class="animate__animated animate__backInLeft mb-4">Advanced Tracking Solution <br>To
                        Drive Your Marketing <br> Performance With 15 <br> Days Free Trial !</h3>
                    <p class="animate__animated animate__backInRight ">Revolutionize Your Online Ad Campaigns With
                        Ultimate <br> Solution for Affiliate Networks, Advertisers, Agencies,<br>
                        E-commerce, and Media Buyers</p>
                    <a href="#" class="btn req_btn animate__animated animate__backInUp">Request Demo</a>
                </div>
            </div>
            <div class="col-md-6 home-right mt-3">
                <img src="img/home.png" alt="home-right" class="animate__animated animate__bounceInDown" loading="lazy">
            </div>
        </div>
    </div>
</section>

<app-service></app-service>

<section>
    <div class="container">
        <div class="achieve">
            <h3>Achieve Better Results with our Optimized Features</h3>
            <p>As performance marketing management software, Offer18 covers various industries that benefit most from
                this approach. From affiliate networks to agencies and independent businesses, leveraging Offer18
                ensures consistent results and ongoing growth for:</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 card-container">
                <div class="card">
                    <div class="card-image">
                        <img src="img/pmi_2.gif" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h3>Card 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec erat nec erat pretium
                            tincidunt.</p>
                        <a href="" class="btn btn-primary mt-2">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 card-container">
                <div class="card">
                    <div class="card-image">
                        <img src="img/pmi_2.gif" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h3>Card 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec erat nec erat pretium
                            tincidunt.</p>
                        <a href="" class="btn btn-primary mt-2">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 card-container">
                <div class="card">
                    <div class="card-image">
                        <img src="img/pmi_2.gif" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h3>Card 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec erat nec erat pretium
                            tincidunt.</p>
                        <a href="" class="btn btn-primary mt-2">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<section class="container mt-5 mb-5 mt-4">
    <div class="text-center mt-2 mb-4">
        <h1>Our Happy Clients</h1>
    </div>
    <div class="slider ">
        <marquee behavior="slide" direction="left">
            <div class="slider-track">
                <img src="img/zomoto.png" alt="Client 1">
                <img src="img/zomoto.png" alt="Client 2">
                <img src="img/zomoto.png" alt="Client 3">
                <img src="img/zomoto.png" alt="Client 4">
                <img src="img/zomoto.png" alt="Client 5">
                <img src="img/zomoto.png" alt="Client 6">
                <img src="img/zomoto.png" alt="Client 4">
                <img src="img/zomoto.png" alt="Client 5">
                <img src="img/zomoto.png" alt="Client 6">

            </div>
        </marquee>
    </div>
</section> -->

<section class="container mt-5 mb-5 mt-4">
    <div class="text-center mt-2 mb-4">
        <h1>Our Happy Clients</h1>
    </div>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
        </div>
    </div>
</section>