.home {
  padding: 220px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
/* .animate__animated {
  animation-duration: 2s;
} */

.req_btn {
  background-color: #c70925;
  color: white;
}

.req_btn:hover {
  background-color: #000000;
  color: #ffffff;
}
.home-left {
  text-align: left;
  color: #000000;
  font-size: 16px;
}

.home-left p {
  font-size: 20px;
  line-height: 32px;
  color: #020202;
  padding-bottom: 28px;
  text-transform: lowercase;
}

/* .home-right img {
  width: 100%;
  height: auto;
} */


@media (max-width: 991px) {
  
  .home-left h3 {
      font-size: 24px;
  }

  .home-left p {
      font-size: 16px;
  }
}

@media (max-width: 767px) {
  .home {
      padding: 100px 5px 0px 5px;
      text-align: justify;
  }

  .home-left {
      text-align: center;
  }

  .home-left h3 {
      font-size: 22px;
  }

  .home-left p {
      font-size: 14px;
      padding-bottom: 20px;
  }

  .home-right {
      margin-top: 100px;
      justify-content: center;
      margin-bottom: 100px;
  }
}

@media (max-width: 576px) {
  .home-left h3 {
      font-size: 20px;
  }

  .home-left p {
      font-size: 14px;
  }

  .req_btn {
      padding: 10px 20px;
      font-size: 14px;
  }
}
.achieve {
  margin-top: 20px;
  text-align: center;
  padding: 0px 50px;
}

.card {
  margin-top: 10px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.808);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}

/* .card:hover {
  transform: scale(1.05);
} */

.card-image img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-bottom: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0);
}

.card-content {
  padding: 20px;
  color: rgb(0, 0, 0);
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card-content p {
  font-size: 1rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .card-container {
      margin-bottom: 20px;
  }

  .card-content h3 {
      font-size: 1.2rem;
  }

  .card-content p {
      font-size: 0.9rem;
  }
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}
.carousel img {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;

}

.carousel img.active {
  opacity: 1;
}
@media (max-width: 767px) {
  .home {
      padding: 80px 0px 0px 10px;
      text-align: justify;
  }
}