
<section class="home">
    <div class="container text-center ">
        <div class="row align-items-center">

            <div class="col-lg-6 col-md-6 col-12 home-left mb-4 mb-md-0">
            <h3  class="animate__animated animate__backInLeft mb-4">One Platform, Infinite Opportunities</h3>
                <h6 class="animate__animated animate__backInLeft mb-4">
                    Enhance Your Marketing With Proffcus' Advanced Solutions<br>Start Your 15-Day Free Trial Today!
                </h6>
                <p class="animate__animated animate__backInRight">
                Whether you're an affiliate marketer, advertiser, or media buyer, Proffcus solves your toughest
                challenges and empowers you to create meaningful digital experiences that drive growth.
                </p>
                <a href="contact" class="btn req_btn animate__animated animate__backInUp">Request Your Demo</a>
            </div>
            <div class="col-lg-6 col-md-6 col-12 home-right carousel  animate__animated animate__bounceInDown">

                <img src="assets/img/dash-2.png" class="active img-fluid" alt="Image 1">
                <img src="assets/img/dash-1.png" class="img-fluid" alt="Image 2">
                <img src="assets/img/dash-3.png" class="img-fluid" alt="Image 3">
                <img src="assets/img/dash-4.png" class="img-fluid" alt="Image 4">

            </div>
            <!-- <div class="col-lg-6 col-md-6 col-12 home-right">
                <img src="img/dashboard-1.png" alt="home-right"
                    class="animate__animated animate__bounceInDown img-fluid" loading="lazy">
            </div> -->
        </div>
    </div>
</section>
<app-service></app-service>
<section>
    <div class="container mb-3">
        <div class="achieve reveal">
            <h3>Achieve Superior Results with Our Optimized Solutions</h3>
            <p class="text-justify">Proffcus empowers businesses across various industries with cutting-edge performance
                marketing solutions.
                From affiliate networks to agencies and e-commerce platforms, our tools ensure measurable growth and
                unparalleled success for:</p>
        </div>
        <div class="row align-items-center reveal">

            <div class="col-md-4 col-sm-6 col-xs-12 card-container">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/img/analytics.gif" alt="Comprehensive Analytics Tools" class="img-fluid ">
                    </div>
                    <div class="card-content">
                        <h3>Advanced Analytics</h3>
                        <p>Unlock powerful insights with Proffcus' advanced analytics. Track performance, measure
                            success, and make data-driven decisions effortlessly.</p>
                        <!-- <a href="#" class="btn btn-primary mt-2">Learn More</a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 card-container">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/img/integrations.gif" alt="Seamless Integrations for Businesses" class="img-fluid">
                    </div>
                    <div class="card-content">
                        <h3>Seamless Integrations</h3>
                        <p>Enhance productivity with seamless integrations for affiliate networks, advertisers, and
                            agencies. Connect with your favorite tools in one platform.</p>
                        <!-- <a href="#" class="btn btn-primary mt-2">Learn More</a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 card-container">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/img/automation.gif" alt="Automation Tools for Marketing" class="img-fluid">
                    </div>
                    <div class="card-content">
                        <h3>Intelligent Automation</h3>
                        <p>Save time and reduce errors with Proffcus' intelligent automation features. Optimize your
                            campaigns for maximum efficiency.</p>
                        <!-- <a href="#" class="btn btn-primary mt-2">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
<section class="container mt-5 mb-5 mt-4">
    <div class="text-center mt-2 mb-4">
        <h1>Our Happy Clients</h1>
    </div>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
        </div>
    </div>
</section>
 -->
<app-testimonial></app-testimonial>