<section class="migration ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 on-left">
                <h1 class="animate__animated animate__bounceInLeft">Advertisers</h1>
                <p class="animate__animated animate__bounceInLeft">Give your affiliates a self-service dashboard and
                    manage all of your campaigns and affiliates from a single dashboard. Detect fraud, prevent or
                    filter undesired traffic, and easily track campaign results in real-time.</p>
                <a href="contact" class="btn req_btn animate__animated animate__bounceInUp">Start Free Trial</a>
            </div>
            <div class="col-md-6 on-right  ">
                <img src="assets/img/advertiser.png" alt="Migration Process"
                    class="animate__animated animate__bounceInRight">
            </div>
        </div>
    </div>
</section>
<!-- Card  -->
<section class="traing-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 advert">
                <img src="assets/img/advertisers.jpg" alt="advertisers" class="img-fluid support-image">
            </div>
            <div class="col-md-6">
                <h1>Advertise With Us
                </h1>
                <p>We help brands to acquire desired customers, engage in a short period of time with complete
                    support
                </p>
                <h4>Benefits</h4>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="benefits-list">
                            <li>User Acquisition</li>
                            <li>Analytics</li>
                            <li>Re-engagement</li>
                            <li>Direct Inventory</li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="benefits-list">
                            <li>Direct Source</li>
                            <li>Anti Fraud</li>
                            <li>Real time optimization</li>
                            <li>Premium traffic</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>