<section class="contact" style="background-image: url('assets/img/contact-3.jpg');">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 ">
                <!-- <div class="logo">
                    <img src="img/logo.png" alt="Proffcus Logo">
                    <p>Welcome to Proffcus, your trusted partner in digital marketing. We provide cutting-edge tools
                        and resources to help you optimize your online campaigns, enhance your brand’s visibility,
                        and achieve measurable success in the competitive digital landscape.</p>
                </div>
                <div class="author">
                    <img src="img/man.jpg" alt="John Doe - Proffcus Expert" class="author-image" />
                    <div class="author-details">
                        <span class="author-title">Lead Expert</span>
                        <span class="author-name">John Doe</span>
                        <div class="d-flex flex-row gap-2">
                            <a href="https://www.linkedin.com/in/johndoe" class="bi bi-linkedin"
                                aria-label="LinkedIn Profile"></a>
                            <a href="skype:john.doe?chat" class="bi bi-skype" aria-label="Skype Contact"></a>
                        </div>
                    </div>
                </div>
                <div class="award m-1">
                    <img src="img/man.jpg" alt="Award for Excellence in Digital Marketing">
                    <img src="img/man.jpg" alt="Best Marketing Strategy Award">
                    <img src="img/man.jpg" alt="Top Industry Innovator Award">
                </div> -->
            </div>
            <div class="col-md-8 ">
                <div class="container">
                    <div class="form-container bg-transparent shadow-none ">
                        <p>Welcome to Proffcus, your trusted partner in digital marketing. We provide cutting-edge tools
                            and resources to help you optimize your online campaigns, enhance your brand’s visibility,
                            and achieve measurable success in the competitive digital landscape.</p>
                    </div>
                    <div class="form-container mb-4">
                        <h2 class="form-title text-center mb-4">Get in Touch with Our Expert</h2>
                        <form >
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="firstName" class="form-label">First Name *</label>
                                    <input type="text" class="form-control" id="firstName"
                                        placeholder="Enter First Name" name="fname" required>
                                    <small class="text-danger">
                                        
                                    </small>
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">Last Name *</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
                                        name="lname" required>
                                    <small class="text-danger">
                                        
                                    </small>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="companyName" class="form-label">Company Name *</label>
                                    <input type="text" class="form-control" id="companyName"
                                        placeholder="Enter Company Name" name="cname" required>
                                    <small class="text-danger">
                                        
                                    </small>
                                </div>
                                <div class="col-md-6">
                                    <label for="websiteUrl" class="form-label">Website URL</label>
                                    <input type="url" class="form-control" id="websiteUrl"
                                        placeholder="www.yourcompany.com" name="url" required>
                                    <small class="text-danger">
                                        
                                    </small>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="businessType" class="form-label">Business Type *</label>
                                    <select class="form-select" id="businessType" name="business" required>
                                        <option disabled selected>Select business type</option>
                                        <option value="brand/direct-advertiser">Brand/Direct Advertiser</option>
                                        <option value="agency/network">Agency/Network</option>
                                        <option value="media-buying-team">Media Buying Team</option>
                                        <option value="mobile-apps">Mobile Apps</option>
                                        <option value="saas">SaaS</option>
                                        <option value="traffic-source">Traffic Source</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <small class="text-danger">
                                                                        </small>
                                </div>
                                <div class="col-md-6">
                                    <label for="jobRole" class="form-label">Job Role *</label>
                                    <select class="form-select" id="jobRole" name="role" required>
                                        <option disabled selected>Select Job Role</option>
                                        <option value="c-level">C-level Executive</option>
                                        <option value="head-of-department">Head of Department</option>
                                        <option value="manager">Manager</option>
                                        <option value="consultant">Consultant</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <small class="text-danger">
                                        
                                    </small>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="PreferredLanguage" class="form-label">Preferred Language *</label>
                                    <select class="form-select" id="PreferredLanguage" name="language" required>
                                        <option disabled selected>Select preferred language</option>
                                        <option value="english">English</option>
                                        <option value="russian">Russian</option>
                                        <option value="hindi">Hindi</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <small class="text-danger">
                                      
                                    </small>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email *</label>
                                    <input type="email" class="form-control" id="email"
                                        placeholder="example@proffcus.com" name="email" required>
                                    <small class="text-danger">
                                        
                                    </small>
                                    <!-- <div class="form-text">Please enter a business email address.</div> -->
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="messengerType" class="form-label">Messenger Type *</label>
                                    <select class="form-select" id="messengerType" name="messenger" required>
                                        <option disabled selected>Select preferred messenger</option>
                                        <option value="telegram-id">Telegram ID</option>
                                        <option value="skype-id">Skype ID</option>
                                        <option value="phone-or-whatsapp">Phone or WhatsApp Number</option>
                                        <option value="mail">Mail</option>
                                    </select>
                                    <small class="text-danger">
                                      
                                    </small>
                                </div>
                                <div class="col-md-6">
                                    <label for="messengerType" class="form-label">Messenger By *</label>
                                    <input type="text" class="form-control" id="messege"
                                        placeholder="Enter contact details" name="messege-by" required>
                                    <small class="text-danger">
                                   
                                    </small>
                                </div>
                                <div class="col-md-12">
                                    <label for="termsCheck" class="form-label">&nbsp;</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="termsCheck" required>
                                        <label class="form-check-label" for="termsCheck">
                                            By signing up, you agree to the <a href="">Terms and Conditions</a> and
                                            <a href="privacy-policy" target="_blank">Privacy Policy</a>.
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" name="submit"
                                    class="btn btn-primary submit-btn w-50">Submit</button>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>