<!-- <section class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 left">
                <div class="logo">
                    <img src="img/logo.png" alt="logo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quas est mollitia molestias
                        ab perspiciatis reiciendis cum, expedita facere sit, nam ratione ea? Repellendus, nobis nesciunt
                        rerum nostrum quam sint!</p>
                </div>
                <div class="author">
                    <img src="img/man.jpg" alt="Author" class="author-image" />
                    <div class="author-details">
                        <span class="author-title">Author</span>
                        <span class="author-name">John Doe</span>
                        <div class="d-flex flex-row gap-2">
                            <a href="" class="bi bi-linkedin"></a>
                            <a href="" class="bi bi-skype"></a>
                        </div>
                    </div>

                </div>
                <div class="award m-1">
                    <img src="img/man.jpg" alt="award1">
                    <img src="img/man.jpg" alt="award1">
                    <img src="img/man.jpg" alt="award1">

                </div>
            </div>
            <div class="col-md-7 right">
                <div class="container my-">
                    <div class="form-container">
                        <h2 class="form-title text-center mb-4">Talk to an expert</h2>
                        <form>
                            <div class="mb-3 row">
                                <label for="firstName" class="col-sm-3 col-form-label">First Name *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="firstName" placeholder="First Name"
                                        required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="lastName" class="col-sm-3 col-form-label">Last Name *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                                        required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="companyName" class="col-sm-3 col-form-label">Company Name *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="companyName" placeholder="Company Name"
                                        required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="websiteUrl" class="col-sm-3 col-form-label">Website URL</label>
                                <div class="col-sm-9">
                                    <input type="url" class="form-control" id="websiteUrl" placeholder="www.demo.com">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="businessType" class="col-sm-3 col-form-label">Business Type *</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="businessType" required>
                                        <option disabled selected>Please Select</option>
                                        <option value="brand/direct-advitiser">Brand/Direct Advitiser</option>
                                        <option value="agency/network">Agency/Network</option>
                                        <option value="media buying team">Media Buying Team</option>
                                        <option value="mobile apps">Mobile Apps</option>
                                        <option value="saas">Saas</option>
                                        <option value="traffic source">Traffic Source</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="jobRole" class="col-sm-3 col-form-label">Job Role *</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="jobRole" required>
                                        <option value="" disabled selected>Please Select</option>
                                        <option value="c-level">C-level</option>
                                        <option value="head of department">Head of Department</option>
                                        <option value="manager">Manager</option>
                                        <option value="counselt">Counselt</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="language" class="col-sm-3 col-form-label">Preferred Language* </label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="PreferredLanguage" required>
                                        <option value="" disabled selected>Please Select</option>
                                        <option value="english">English</option>
                                        <option value="russion">Russian</option>
                                        <option value="hindi">Hindi</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="email" class="col-sm-3 col-form-label">Email *</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="email" placeholder="admin@google.com"
                                        required>
                                    <div class="form-text">Business emails only</div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="messengerType" class="col-sm-3 col-form-label">Messenger Type *</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="messengerType" required>
                                        <option value="" disabled selected>Please Select</option>
                                        <option value="telegram id">Telegram ID</option>
                                        <option value="skype id">Skype ID</option>
                                        <option value="phone or whatsapp number">Phone or WhatsApp Number</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="termsCheck" required>
                                    <label class="form-check-label" for="termsCheck">
                                        By signing up you agree to the <a href="#">Terms and Conditions</a> and <a
                                            href="#">Privacy Policy</a>.
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn submit-btn w-100">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section> -->

<section class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 left">
                <div class="logo">
                    <img src="img/logo.png" alt="Proffcus Logo">
                    <p>Welcome to Proffcus, your trusted partner in digital marketing. We provide cutting-edge tools and resources to help you optimize your online campaigns, enhance your brand’s visibility, and achieve measurable success in the competitive digital landscape.</p>
                </div>
                <div class="author">
                    <img src="img/man.jpg" alt="John Doe - Proffcus Expert" class="author-image" />
                    <div class="author-details">
                        <span class="author-title">Lead Expert</span>
                        <span class="author-name">John Doe</span>
                        <div class="d-flex flex-row gap-2">
                            <a href="https://www.linkedin.com/in/johndoe" class="bi bi-linkedin" aria-label="LinkedIn Profile"></a>
                            <a href="skype:john.doe?chat" class="bi bi-skype" aria-label="Skype Contact"></a>
                        </div>
                    </div>
                </div>
                <div class="award m-1">
                    <img src="img/man.jpg" alt="Award for Excellence in Digital Marketing">
                    <img src="img/man.jpg" alt="Best Marketing Strategy Award">
                    <img src="img/man.jpg" alt="Top Industry Innovator Award">
                </div>
            </div>
            <div class="col-md-7 right">
                <div class="container my-5">
                    <div class="form-container">
                        <h2 class="form-title text-center mb-4">Get in Touch with Our Expert</h2>
                        <form>
                            <div class="mb-3 row">
                                <label for="firstName" class="col-sm-3 col-form-label">First Name *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="firstName" placeholder="Your First Name" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="lastName" class="col-sm-3 col-form-label">Last Name *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastName" placeholder="Your Last Name" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="companyName" class="col-sm-3 col-form-label">Company Name *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="companyName" placeholder="Your Company Name" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="websiteUrl" class="col-sm-3 col-form-label">Website URL</label>
                                <div class="col-sm-9">
                                    <input type="url" class="form-control" id="websiteUrl" placeholder="www.yourcompany.com">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="businessType" class="col-sm-3 col-form-label">Business Type *</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="businessType" required>
                                        <option disabled selected>Select your Business Type</option>
                                        <option value="brand/direct-advertiser">Brand/Direct Advertiser</option>
                                        <option value="agency/network">Agency/Network</option>
                                        <option value="media-buying-team">Media Buying Team</option>
                                        <option value="mobile-apps">Mobile Apps</option>
                                        <option value="saas">SaaS</option>
                                        <option value="traffic-source">Traffic Source</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="jobRole" class="col-sm-3 col-form-label">Job Role *</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="jobRole" required>
                                        <option value="" disabled selected>Select your Job Role</option>
                                        <option value="c-level">C-level Executive</option>
                                        <option value="head-of-department">Head of Department</option>
                                        <option value="manager">Manager</option>
                                        <option value="consultant">Consultant</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="language" class="col-sm-3 col-form-label">Preferred Language *</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="PreferredLanguage" required>
                                        <option value="" disabled selected>Select your Preferred Language</option>
                                        <option value="english">English</option>
                                        <option value="russian">Russian</option>
                                        <option value="hindi">Hindi</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="email" class="col-sm-3 col-form-label">Email *</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="email" placeholder="example@proffcus.com" required>
                                    <div class="form-text">Please enter a business email address.</div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="messengerType" class="col-sm-3 col-form-label">Messenger Type *</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="messengerType" required>
                                        <option value="" disabled selected>Select your preferred messenger</option>
                                        <option value="telegram-id">Telegram ID</option>
                                        <option value="skype-id">Skype ID</option>
                                        <option value="phone-or-whatsapp">Phone or WhatsApp Number</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="termsCheck" required>
                                    <label class="form-check-label" for="termsCheck">
                                        By signing up, you agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn submit-btn w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
