<div class="container bootstrap snippets bootdey p-lg-5">
    <section id="team" class="white-bg padding-top-bottom">
        <div class="container bootstrap snippets bootdey">
            <h1 class="section-title text-center page-title">Meet Our Team</h1>
            <p class="section-description text-center">Our team at Proffcus brings innovation and expertise to every
                project. Get to know the people driving our success.</p>

            <!-- Team Member 1 -->
            <div class="row member-content reveal">
                <div class="col-sm-3 col-sm-offset-1 member-thumb fade-right in">
                    <img class="img-responsive img-center img-thumbnail img-circle"
                        src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Team Member">
                    <h4>Michael Smith</h4>
                    <p class="title">Founder & CEO</p>
                </div>
                <div class="col-sm-7">
                    <div class="details">
                        <p>Michael is the visionary behind Proffcus, combining years of leadership experience with a
                            passion for innovation. He is dedicated to building solutions that make a difference.
                        </p>
                        <ul class="social-content">
                            <li><a href="mailto:michael@proffcus.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                            <li><a href="#twitter-link"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <!-- <li><a href="#facebook-link"><i class="fa fa-facebook fa-fw"></i></a></li> -->
                            <li><a href="#linkedin-link"><i class="fa fa-linkedin fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Team Member 2 -->
            <div class="row member-content right reveal">
                <div class="col-sm-7 col-sm-pull-2">
                    <div class="details">
                        <p>Jessica leads the design team, ensuring every project is visually stunning and
                            user-friendly. Her creative insights drive the aesthetic appeal of Proffcus products.
                        </p>
                        <ul class="social-content">
                            <li><a href="mailto:jessica@proffcus.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                            <li><a href="#twitter-link"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <!-- <li><a href="#facebook-link"><i class="fa fa-facebook fa-fw"></i></a></li> -->
                            <li><a href="#linkedin-link"><i class="fa fa-linkedin fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-push-8 member-thumb">
                    <img class="img-responsive img-center img-thumbnail img-circle"
                        src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Team Member">
                    <h4>Jessica Carter</h4>
                    <p class="title">Creative Director</p>
                </div>
            </div>

            <!-- Team Member 3 -->
            <div class="row member-content reveal">
                <div class="col-sm-3 col-sm-offset-1 member-thumb">
                    <img class="img-responsive img-center img-thumbnail img-circle"
                        src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Team Member">
                    <h4>David Lee</h4>
                    <p class="title">Lead Developer</p>
                </div>
                <div class="col-sm-7">
                    <div class="details">
                        <p>David is the technical mastermind at Proffcus, specializing in innovative software
                            solutions. His expertise ensures our platforms are robust and scalable.</p>
                        <ul class="social-content">
                            <li><a href="mailto:david@proffcus.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                            <li><a href="#twitter-link"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <!-- <li><a href="#facebook-link"><i class="fa fa-facebook fa-fw"></i></a></li> -->
                            <li><a href="#linkedin-link"><i class="fa fa-linkedin fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

