<section class="migration">
    <div class="container">
        <div class="row">
            <div class="col-md-6 on-left">
                <h1>Seamless Data Migration</h1>
                <p>At Proffcus, we provide a seamless data migration process to transition your operations smoothly from
                    outdated systems to our cutting-edge platform. Let us handle the complexities while you focus on
                    growth.</p>
                <a class="btn mb-5">Start Free Trial</a>
            </div>
            <div class="col-md-6 on-right mt-5 mb-5">
                <img src="assets/img/migration.png" alt="Migration Process" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="row align-items-center ">
                <div class="col-md-6 col-12  p-3 mb-md-0">
                    <img src="assets/img/partner-migration.png" alt="migration Migration" class="img-fluid">
                </div>
                <div class="col-md-6 col-12">
                    <div class="migration-con d-flex align-items-center">
                        <img src="assets/img/api.png" alt="Network migration Icon">
                        <div>
                            <h1 class="h4">Effortless Partner Migration</h1>
                            <p>With Proffcus, easily import and onboard all your migrations and advertisers without
                                manual
                                intervention. Our streamlined import tools make bulk partner migration fast and
                                efficient.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center ">
                <div class="col-md-6 col-12">
                    <div class="migration-con d-flex align-items-center">
                        <img src="assets/img/api.png" alt="Media Buyers Icon">
                        <div>
                            <h1 class="h4">Quick Campaign Migration</h1>
                            <p>Don’t let campaign migration slow you down. Proffcus ensures a hassle-free transition of
                                all your
                                marketing campaigns, saving time and keeping your operations on track.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <img src="assets/img/campaign-migration.png" alt="Campaign Migration" class="img-fluid">
                </div>
            </div>

            <div class="row align-items-center ">
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <img src="assets/img/migration-support.png" alt="Migration Support" class="img-fluid">
                </div>
                <div class="col-md-6 col-12">
                    <div class="migration-con d-flex align-items-center">
                        <img src="assets/img/api.png" alt="Advertisers Icon">
                        <div>
                            <h1 class="h4">Comprehensive Migration Support</h1>

                            <p>Proffcus offers a step-by-step migration guide and personalized assistance to make your
                                transition
                                stress-free. Let our experts help you every step of the way.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center ">
                <div class="col-md-6 col-12">
                    <div class="migration-con d-flex align-items-center">
                        <img src="assets/img/api.png" alt="Agencies Icon">
                        <div>
                            <h1 class="h4">Round-the-Clock Support</h1>
                            <p>Our technical support team is available 24x7 to assist you with any queries or issues.
                                Whether it’s
                                analytics or integration, Proffcus ensures you're never alone in your journey.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <img src="assets/img/support.png" alt="Customer Support" class="img-fluid">
                </div>
            </div>
            <!-- 
            <div class="row align-items-center mt-4">
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <img src="assets/img/video.png" class="img-fluid" alt="Email Marketers">
                </div>
                <div class="col-md-6 col-12">
                    <div class="migration-con d-flex align-items-center">
                        <img src="assets/img/api.png" alt="Email Marketers Icon">
                        <div>
                            <h1 class="h4">Email Marketers</h1>
                            <p>Track email impressions, clicks, and conversions in real-time with Proffcus. Optimize
                                campaigns based on performance data and maximize your ROI.</p>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</section>

<app-testimonial></app-testimonial>