<section class="features">
    <h1>Maximize your affiliate marketing success with Offershub's advanced tracking and optimization platform.</h1>
    <p>Maximize your affiliate marketing success with Offershub's advanced tracking and optimization platform.</p>
</section>
<section class="api">
    <div class="container text-center mt-5 mb-5">

        <div class="row align-items-center mt-4">
            <div class="col-md-6 col-12 mb-4 mb-md-0">
                <img src="img/video.png" class="img-fluid" alt="Video">
            </div>
            <div class="col-md-6 col-12">
                <div class="api-con d-flex align-items-center">
                    <img src="img/api.png" alt="API Icon">
                    <div>
                        <h1 class="h4">Complete Partner Management Solutions</h1>
                        <p>Use OffersHub to manage your advertisers, publishers and CPA/CPI/CPS/CPA/CPL campaigns. Track
                            their impressions, clicks and conversions, filter and block unwanted traffic, detect,
                            prevent fraud and manage billing.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-4">
            <div class="col-md-6 col-12 order-2 order-md-1">
                <div class="api-con d-flex align-items-center">
                    <img src="img/publisher.gif" alt="API Icon">
                    <div>
                        <h1 class="h4">Smart Tracking Links</h1>
                        <p>OffersHub's unique AI-powered smart links feature allows you to generate maximum revenue by
                            each click you receive by redirecting them to the most suitable and profitable offers with
                            higher conversion rates</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 order-1 order-md-2 mb-4 mb-md-0">
                <img src="img/video.png" class="img-fluid" alt="Video">
            </div>
        </div>

        <div class="row align-items-center mt-4">
            <div class="col-md-6 col-12 mb-4 mb-md-0">
                <img src="img/video.png" class="img-fluid" alt="Video">
            </div>
            <div class="col-md-6 col-12">
                <div class="api-con d-flex align-items-center">
                    <img src="img/ads.png" alt="API Icon">
                    <div>
                        <h1 class="h4">Smart Integrations</h1>
                        <p>OffersHub’s one click offer sync tool enables you to connect your system with 1000+ other ad
                            networks. This feature enables you to explore offers and campaigns from multiple networks
                            from one page and import them into your network. Once you've imported an offer from another
                            network, the system will keep your local campaign updated with the remote network. For
                            example, if the campaign is paused or stopped in the remote network, the same update will be
                            automatically updated to the imported campaign.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-4">
            <div class="col-md-6 col-12 order-2 order-md-1">
                <div class="api-con d-flex align-items-center">
                    <img src="img/data-stream.gif" alt="API Icon">
                    <div>
                        <h1 class="h4">Robust APIs</h1>
                        <p>OffersHub Robust 2-Way APIs has been built to match all of your integration needs. We offer 3
                            types of APIs namely the network API, publisher API and advertiser API. You and your
                            partners can connect with your system programmatically and build apps on top on that.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 order-1 order-md-2 mb-4 mb-md-0">
                <img src="img/video.png" class="img-fluid" alt="Video">
            </div>
        </div>

        <div class="row align-items-center mt-4">
            <div class="col-md-6 col-12 mb-4 mb-md-0">
                <img src="img/video.png" class="img-fluid" alt="Video">
            </div>
            <div class="col-md-6 col-12">
                <div class="api-con d-flex align-items-center">
                    <img src="img/ads.png" alt="API Icon">
                    <div>
                        <h1 class="h4">Smart Integrations</h1>
                        <p>OffersHub’s one click offer sync tool enables you to connect your system with 1000+ other ad
                            networks. This feature enables you to explore offers and campaigns from multiple networks
                            from one page and import them into your network. Once you've imported an offer from another
                            network, the system will keep your local campaign updated with the remote network. For
                            example, if the campaign is paused or stopped in the remote network, the same update will be
                            automatically updated to the imported campaign.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-4">
            <div class="col-md-6 col-12 order-2 order-md-1">
                <div class="api-con d-flex align-items-center">
                    <img src="img/data-stream.gif" alt="API Icon">
                    <div>
                        <h1 class="h4">Reliable, Secure and Globally Distributed Tracking</h1>
                        <p>OffersHub is super committed to delivering a highly secure and compliant environment for our
                            customers. We stand behind our service with an industry leading 99.999% SLA available on
                            selected plans with a 1000x rebate policy. 10+ data centers on 4 continents to ensure a
                            consistent tracking experience for every customer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 order-1 order-md-2 mb-4 mb-md-0">
                <img src="img/video.png" class="img-fluid" alt="Video">
            </div>
        </div>
    </div>
</section>

<section class="section-big main-color">
    <div class="container">

        <div class="row">
            <div class="col-md-12 pb-20 text-center">
                <h2 class="section-title mb-10"><span> Some <strong class="primary-color">Vertex</strong> Core Featuress
                    </span></h2>
                <p class="section-sub-title">
                    We are a passionate digital design agency that specializes in beautiful and easy-to- <br>
                    use digital design &amp; web development services.
                </p>
                <div class="exp-separator center-separator">
                    <div class="exp-separator-inner">
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <ul class="i-list medium">
                    <li class="i-list-item">
                        <div class="icon"> <i class="fa fa-desktop"></i> </div>

                        <div class="icon-content">
                            <h3 class="title">Fully Responsive Design</h3>
                            <p class="sub-title">
                                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                                consequat vitae, eleifend ac, enim ante, dapibus in.
                            </p>
                        </div>
                        <div class="iconlist-timeline"></div>
                    </li>
                    <li class="i-list-item">
                        <div class="icon"> <i class="fa fa-code"></i> </div>

                        <div class="icon-content">
                            <h3 class="title">Easy &amp; Clean Code</h3>
                            <p>
                                Aenean vulputate tellus. Aenean leo ligula, porttitor eu,
                                consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
                            </p>
                        </div>
                        <div class="iconlist-timeline"></div>
                    </li>
                    <li class="i-list-item">
                        <div class="icon"> <i class="fa fa-paper-plane"></i> </div>

                        <div class="icon-content">
                            <h3 class="title">24/7 Customer Support</h3>
                            <p>
                                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                                consequat, eleifend ac, enim lorem ante, dapibus in.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="i-list medium">
                    <li class="i-list-item">
                        <div class="icon"> <i class="fa fa-diamond"></i> </div>
                        <div class="icon-content">
                            <h3 class="title">Endless Possibilites</h3>
                            <p class="sub-title">
                                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                                consequat vitae, eleifend Aliquam lorem ante, dapibus in.
                            </p>
                        </div>
                        <div class="iconlist-timeline"></div>
                    </li>
                    <li class="i-list-item">
                        <div class="icon"> <i class="fa fa-recycle"></i> </div>
                        <div class="icon-content">
                            <h3 class="title">Free Lifetime Updates</h3>
                            <p>
                                Aenean eleifend tellus. Aenean leo ligula, porttitor eu
                                consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
                            </p>
                        </div>
                        <div class="iconlist-timeline"></div>
                    </li>
                    <li class="i-list-item">
                        <div class="icon"> <i class="fa fa-check"></i> </div>
                        <div class="icon-content">
                            <h3 class="title">Clean &amp; Modern Design</h3>
                            <p>
                                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                                consequat vitae, eleifend enim lorem ante, dapibus in.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="i-list medium">
                    <li class="i-list-item">
                        <div class="icon"> <i class="fa fa-codepen"></i> </div>
                        <div class="icon-content">
                            <h3 class="title">Useful Shortcodes</h3>
                            <p class="sub-title">
                                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                                consequat vitae, eleifend ac, enim. Aliquam lorem ante.
                            </p>
                        </div>
                        <div class="iconlist-timeline"></div>
                    </li>
                    <li class="i-list-item">
                        <div class="icon"> <i class="fa fa-newspaper-o"></i> </div>
                        <div class="icon-content">
                            <h3 class="title">Multipurpose Concept</h3>
                            <p>
                                Aenean vulputate eleifend tellus ligula, porttitor eu,
                                consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.
                            </p>
                        </div>
                        <div class="iconlist-timeline"></div>
                    </li>
                    <li class="i-list-item">
                        <div class="icon"> <i class="fa fa-heart-o"></i> </div>
                        <div class="icon-content">
                            <h3 class="title">Crafted With Love</h3>
                            <p>
                                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                                consequat vitae, eleifend ac lorem ante, dapibus in.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>