
.req_btn {
    background-color: #c70925;
    color: white;
  }
  
  .req_btn:hover {
    background-color: #000000;
    color: #ffffff;
  }
.boarding {
    padding: 200px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6d3d3;
}

.about-img img {
    width: 100%;
    // height: 500PX;
    padding: 30px;
    background-color: #d6d3d3;
    border-radius: 20px;
}

.on-left h1 {
    font-size: 3.0625rem;
    line-height: 3.6875rem;
    margin-bottom: 1.5rem;
    margin-top: 20px;
    font-weight: 700;
    color: #272742;
}

.on-left p {
    margin-bottom: 2.8125rem;
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;
    color: #666;
    padding: 10px;
    text-align: left;
}

/* .btn {
background-color: #408fe9;
padding: 15px 40px;
margin-top: 0px;
font-weight: 700;
font-size: 25px;
color: #ffffff;
} */

/* .btn:hover {
background-color: #40d5e9;
padding: 15px 40px;
margin-top: 0px;
font-weight: 700;
font-size: 25px;
color: #000000;
} */

.on-right img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.on-right {
    padding: 0;
    margin: 0;
}

.training-left {
    text-align: start;
}

.training-left p {
    margin-left: 70px;
}

.training-title {
    display: flex;
    flex-direction: row;
}

.training-title img {
    height: 70px;
    width: 70px;
}

.traing-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* card */

.card-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 50px;
    width: 100%;
    align-content: center;
    justify-content: center;

}

.card {
    position: relative;
    background-color: #d6d3d3;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.card::before {
    /* content: "✔️"; */
    content: ' \261E';
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
    color: #4a90e2;
}

.card p {
    font-size: 16px;
    color: #3c3c3c;
    line-height: 1.5;
    margin-left: 40px;

}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}