<section class="boarding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 on-left">
                <h1>Welcome to Your Success Journey</h1>
                <p>Sign up for a <b>free trial</b> and unlock our exclusive Onboarding Package. A dedicated specialist
                    will customize your account, provide personalized guidance, and ensure you’re ready to make the most
                    of our platform.</p>
                <a class="btn mb-5" href="#">Start Free Trial</a>
            </div>
            <div class="col-md-6 on-right mt-5">
                <img src="assets/img/board1.png" alt="Onboarding Support" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- 

<section class="traing-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-5 training-left">
                <div class="training-title">
                    <img src="assets/img/integration-help.gif" alt="Integration Assistance">
                    <h2>Seamless Integration Support</h2>
                </div>
                <p>Launch your campaigns quickly with our integration assistance. Our experts will help you onboard, set
                    up advertisers, boardings, and campaigns while ensuring your data remains secure and private.</p>
            </div>
            <div class="col-md-6">
                <img src="assets/img/intigration.png" alt="Integration Support" class="img-fluid">
            </div>
        </div>
    </div>
</section> -->

<section>
    <div class="container">
        <div class="row">
            <div class="row align-items-center mt-4">
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <img src="assets/img/video.png" alt="Comprehensive Video Tutorials" class="img-fluid">
                </div>
                <div class="col-md-6 col-12">
                    <div class="boarding-con d-flex align-items-center">
                        <img src="assets/img/training.gif" alt="Interactive Training Sessions">
                        <div>
                            <h1 class="h4">Comprehensive Video Tutorials</h1>
                            <p>Access a wide range of video tutorials that are simple, easy to follow, and packed with
                                tips to help
                                you master our platform. Learn at your own pace, anytime, anywhere.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mt-4">
                <div class="col-md-6 col-12">
                    <div class="boarding-con d-flex align-items-center">
                        <img src="assets/img/training.gif" alt="Interactive Training Sessions">
                        <div>
                            <h1 class="h4">Interactive Training Sessions</h1>
                            <p>Our unlimited demonstration sessions are designed to fit your schedule. No matter where
                                you are or
                                what time it is, our onboarding team is available 24/7 to provide hands-on guidance
                                tailored to your
                                needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <img src="assets/img/training.png" alt="Training Support" class="img-fluid">
                </div>
            </div>

            <div class="row align-items-center mt-4">
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <img src="assets/img/intigration.png" alt="Integration Support" class="img-fluid">
                </div>
                <div class="col-md-6 col-12">
                    <div class="boarding-con d-flex align-items-center">
                        <img src="assets/img/integration-help.gif" alt="Integration Assistance">
                        <div>
                            <h1 class="h4">Seamless Integration Support</h1>
                            <p>Launch your campaigns quickly with our integration assistance. Our experts will help you
                                onboard, set
                                up advertisers, boardings, and campaigns while ensuring your data remains secure and
                                private.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row align-items-center mt-4">
                <div class="col-md-6 col-12">
                    <div class="boarding-con d-flex align-items-center">
                        <img src="assets/img/api.png" alt="Agencies Icon">
                        <div>
                            <h1 class="h4">Agencies</h1>
                            <p>Agencies can easily manage publisher and advertiser sources, monitor stats, and track
                                real-time transactions across all campaigns within one unified dashboard.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <img src="assets/img/video.png" class="img-fluid" alt="Agencies">
                </div>
            </div>

            <div class="row align-items-center mt-4">
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <img src="assets/img/video.png" class="img-fluid" alt="Email Marketers">
                </div>
                <div class="col-md-6 col-12">
                    <div class="boarding-con d-flex align-items-center">
                        <img src="assets/img/api.png" alt="Email Marketers Icon">
                        <div>
                            <h1 class="h4">Email Marketers</h1>
                            <p>Track email impressions, clicks, and conversions in real-time with Proffcus. Optimize
                                campaigns based on performance data and maximize your ROI.</p>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</section>


<app-testimonial></app-testimonial>