<section class="affiliate">
    
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 on-left">
                <h1>Welcome Onboard Package</h1>
                <p>We offer a <b> free </b> We offer a Onboarding Package to everyone who signs up for a free trial on
                    our platform. A dedicated onboarding specialist will set up and customize your account for you and
                    then guide you through the interface.</p>
                <a class="btn mb-5"> Start Free Trial</a>
                <!-- <a class="btn"> Start Free Trial</a> -->

            </div>
            <div class="col-md-6 on-right mt-5 ">
                <img src="img/board1.png" alt="board" class="img-fluid">
            </div>
        </div>
    </div>
</section>