
<section class="test mt-5">
    <div class="container">
        <div class="row">
            <div class="text-center mt-5">
                <h2>What Our Users Say</h2>
                <p>Hear from our satisfied clients and discover how our platform has transformed their marketing
                    efforts. Join a growing community of successful users today!</p>
            </div>
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="assets/img/man.jpg" alt="Client Testimonial">
                        </div>
                        <div class="testimonial-content">
                            <p>"The onboarding process was seamless. The team went above and beyond to set us up for
                                success. Highly recommend!"</p>
                        </div>
                        <h3 class="testimonial-title">
                            <a href="#">Kelli</a>
                            <small>- Digital Marketer</small>
                        </h3>
                    </div>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="assets/img/man.jpg" alt="Client Testimonial">
                        </div>
                        <div class="testimonial-content">
                            <p>"The 24/7 support is fantastic! They’re always ready to help with any questions or
                                issues."</p>
                        </div>
                        <h3 class="testimonial-title">
                            <a href="#">Peter</a>
                            <small>- Marketing Consultant</small>
                        </h3>
                    </div>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="assets/img/man.jpg" alt="Client Testimonial">
                        </div>
                        <div class="testimonial-content">
                            <p>"Thanks to the training sessions, we mastered the platform in no time. Great experience!"
                            </p>
                        </div>
                        <h3 class="testimonial-title">
                            <a href="#">Sally</a>
                            <small>- Affiliate Manager</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
