:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}

/* .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */
/* Pre loader */
.loading-gif {
  max-width: 500px;
}

.req_btn {
  background-color: #c70925;
  color: white;
}

.req_btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.pre-loader {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  /* background: #191f268a; */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #c70925;

}

.pre-loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

.pre-loader img {
  height: 300px;
  width: 300px;
}

.pre-loader h1 {
  text-align: center;
  text-transform: capitalize;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.animate__animated {
  animation-duration: 2s;
  /* transform: translateY(150px); */
  opacity: 1;
  /* transition: 4s all ease; */
  z-index: -100;
}

.icon-bar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.icon-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  color: #00AFF0;
  text-align: center;
  font-size: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in-out;
}

.icon-bar a:hover {
  /* background-color: #d6d3d3; */
  transform: scale(1.0);
  box-shadow: 0 6px 10px rgb(0, 0, 0);
  color: #00AFF0;
}

.icon-bar i {
  font-size: 60px;
}


@media (max-width: 1200px) {
  .icon-bar a {
    width: 60px;
    height: 60px;
    font-size: 45px;
  }

  .icon-bar i {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .icon-bar a {
    width: 50px;
    height: 50px;
    font-size: 40px;
  }

  .icon-bar i {
    font-size: 45px;
  }
}

@media (max-width: 480px) {
  .icon-bar a {
    width: 45px;
    height: 45px;
    font-size: 35px;
  }

  .icon-bar i {
    font-size: 40px;
  }
}